@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
body {
  background-color: #f0f0f0
}
#container {
  position: absolute;
  top: 10px;
  overflow: hidden;
  background: url(../img/kolonka1.webp) -40px 0/cover no-repeat;
  width: 600px;
  height: 650px
}
#nozzle {
  z-index: 1;
  width: 60px;
  height: 40px;
  background-color: red;
  border-radius: 5px;
  position: relative;
  top: 100px;
  left: 70px;
  cursor: pointer;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg)
}
#nozzle::before {
  bottom: 13px;
  right: -60px;
  position: absolute;
  content: "";
  width: 60px;
  height: 13px;
  background: #747272
}
#nozzle::after {
  z-index: -5;
  top: -15px;
  left: 0;
  position: absolute;
  border-top: 4px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  content: "";
  width: 60px;
  height: 55px;
  border-radius: 35% 35% 8% 8%
}
#sensor {
  position: absolute;
  bottom: 12px;
  left: 190%;
  width: 5px;
  height: 15px;
  background: rgba(255,191,0,.137);
  border-radius: 50%
}
#hose {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
#canister {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 130px;
  height: 170px;
  pointer-events: none;
  opacity: .6;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  background: url(../img/kanistr.webp) center/cover no-repeat;
  background-size: 105% 101%;
  border-radius: 15px
}
#fuel {
  width: 100%;
  height: 0;
  background: rgba(219,181,29,0);
  position: absolute;
  bottom: 0
}
.controls {
  border-radius: 14px;
  background: rgba(77,148,30,.479);
  top: 10px;
  left: 132px;
  position: absolute;
  text-align: center;
  margin-top: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 324px;
  min-height: 200px
}
button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #000
}
._thre {
  background: red
}
.drop {
  position: absolute;
  width: 7px;
  height: 9px;
  background: rgba(223,182,16,.8274509804);
  border-radius: 40%;
  -webkit-animation: fall .5s linear infinite;
  animation: fall .5s linear infinite
}
@-webkit-keyframes fall {
  0% {
    -webkit-transform: translate(-2px,2px);
    transform: translate(-2px,2px);
    opacity: 1
  }
  30% {
    height: 3px;
    width: 4px
  }
  100% {
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
    opacity: 0
  }
}
@keyframes fall {
  0% {
    -webkit-transform: translate(-2px,2px);
    transform: translate(-2px,2px);
    opacity: 1
  }
  30% {
    height: 3px;
    width: 4px
  }
  100% {
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
    opacity: 0
  }
}
#invisible-overlay {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none
}
main {
  padding-top: 20px;
  position: relative;
  min-width: 1200px!important
}
.gas {
  width: 70px
}
p {
  margin-bottom: 20px;
  font-size: 24px
}
#liters,
#total-price {
  display: inline-block;
  border: 1px solid #000;
  font-size: 24px;
  width: 120px
}
.instr {
  padding: 30px;
  border: 2px solid #000;
  position: relative;
  width: 370px;
  height: 100%;
  top: 20px;
  left: 55%
}
.instr img {
  display: block;
  margin-bottom: 25px;
  border: 5px solid #3a3838;
  border-radius: 5px
}
.instr span {
  font-size: 24px;
  margin-bottom: 15px;
  display: inline-block
}
.liquid::before {
  content: "";
  width: 416px;
  height: 410px;
  background-color: rgba(218,189,24,.281);
  z-index: 1;
  position: absolute;
  left: -110px;
  top: -405px;
  border-radius: 46%;
  -webkit-animation: animate 5s linear 1.8s infinite;
  animation: animate 5s linear 1.8s infinite
}
@-webkit-keyframes animate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes animate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
.liquid.still::before {
  border-radius: 0;
  -webkit-animation: none;
  animation: none
}
#start-stop:hover {
  transition: .25s;
  background: rgba(219,12,12,.24)
}