@import url(reset.css);
@import url(../fonts/fonts.css);

.wrapper {
	background: rgba(193, 127, 7, 0.704);
	overflow: clip;
	position: relative;
}

.header--margin {
	position: fixed;
	top: 0;
	z-index: 50;
	width: 100%;
	background: rgba(87, 84, 84, 0.5);
	padding: 50px 0px;
}

.header__item {
	padding: 20px 0px;
	margin-left: 50px;
	display: inline-block;
	margin-right: 150px;
}

.logo__vector {
	width: 100px;
	vertical-align: top;
}

.logo__vector:hover {
	opacity: 0.7;
}

.logo__text {
	text-decoration: underline;
	color: #c2762b;
	font-weight: 600;
	display: inline-block;
	font-family: "Ekaterina_Velikaya_One";
	font-size: 46px;
}

ul {
	font-size: 0;
	display: inline-block;
}

li {
	font-size: 0;
	position: relative;
	display: inline-block;
	margin-right: 100px;
}

ul li a {
	font-family: "Mutlu__Ornamental", sans-serif;
	color: rgb(241, 241, 145);
	font-size: 24px;
}

a:hover {
	color: #f9fd00;
	transition: all 0.4s ease 0s;
}

.header__block-icon {
	background: rgba(211, 142, 15, 0.271);
	height: 75px;
	padding: 20px 37px 20px 20px;
	display: inline-block;
	border: 2px solid rgb(216, 123, 16);
	border-radius: 20px;
}

.header__block-icon img {
	width: 35px;
	margin-left: 20px;
}

.header__block-icon a:hover img {
	margin-top: 5px;
	opacity: 0.7;
	transition: all 0.2s ease 0.0s;
}

ul li a::after {
	margin: 0 auto;
	display: block;
	content: "";
	height: 2px;
	width: 0px;
	transition: all 0.6s ease 0.0s;
}

ul li a:hover::after {
	background-color: #e8eb04;
	width: 95%;
}

/*-----------------------------------------level-2-------------------------------*/

ul li>ul {
	width: 150px;
	left: -30px;
	top: 100%;
	position: absolute;
	display: block;
	visibility: hidden;
	padding: 10px 0px 10px 0px;
}

ul li>ul li:not(:last-child) {
	border-bottom: none;
}

ul li:hover>ul {
	visibility: visible;
}

ul li>ul li::before {
	pointer-events: none;
	display: inline-block;
	width: 20px;
	height: 20px;
	content: "";
	left: -9.5px;
	top: 15%;
	background: url(../icon/arrow.svg) no-repeat;
	position: absolute;
}



ul li>ul li:hover::before {
	z-index: 60;
	width: 25px;
	background: url(../icon/arrow_2.svg)no-repeat;
	left: 3px;
	transition: all 0.3s ease 0s;
}


ul li>ul li a {
	display: inline-block;
	padding: 7px 0px 7px 10px;
}

ul li>ul li:hover {
	padding-left: 20px;
	transition: all 0.6s ease 0s;
}

ul li>ul li {
	background: rgba(221, 46, 7, 0.326);
	width: 100%;
	display: block;
	border: 1.5px solid rgb(34, 30, 30);
}



/*-----------------------------------------level-3-------------------------------*/

ul li ul li>ul {
	left: 100%;
	top: 0;
	padding-top: 0px;
}

/*---------------------------------------contener__block---------------------------------*/

.main__contener {
	margin-bottom: 200px;
	min-height: 1150px;
	background: url("../icon/mochrom.png") 27% 85% / 75px 50px no-repeat,
		url("../img/back.jpg") center / cover no-repeat;

}

.main__contener img {
	width: 100px;

}

.contener__block {
	display: inline-block;
	position: sticky;

}

.contener__block img {
	opacity: 0.6;
	border-radius: 40px;
}

.contener__block--0 {
	top: 25%;
	left: 10%;

}

.contener__block--1 {
	top: 40%;
	left: 40%;
}

.contener__block--2 {
	left: 23%;
	top: 22%;
}

.contener__block--3 {
	left: 90%;
	top: 30%;
}

.contener__block--4 {
	left: 60%;
	top: 25%;
}

.contener__block--5 {
	left: 20%;
	top: 55%;
}

.contener__block--6 {
	left: 70%;
	top: 50%;
}

.contener__block--7 {
	left: 50%;
	top: 31%;
	position: absolute;
	opacity: 0.5;
	background: #144e090b;
	border-radius: 25px;
}

.contener__block--7 img {
	border-radius: 20px;
	margin: 0;
	background: #047d220e;
}

.contener__block.contener__block--7 img:hover {
	margin-top: 28px;
	transition: all 4s ease 0.1s;
	width: 120px;
}

.contener__block.contener__block--8 {
	left: 72%;
	top: 40%;
	position: absolute;

}

.contener__block.contener__block--8 img {
	opacity: 0.8;
}

.contener__block.contener__block--8:hover img {
	margin-left: 50px;
	opacity: 0.1;
	transition: all 2s ease 0s;
}

.contener__block img:hover {
	opacity: 0.5;
	margin-left: 3px;
	margin-top: 2px;
	transition: all 0.7s ease 0s;
}

/*-------------------------------column-cart------------------------------------*/

.content__column-cart {
	margin: 0 auto;
	max-width: 1265px;
}

.content__cart {
	position: relative;
	display: inline-block;
	margin: 0px 31px 31px 0px
}

.content__sub-cart {
	z-index: 10;
	line-height: 1.4;
	text-align: center;
	padding: 24px 50px;
	top: 75%;
	left: 5%;
	position: absolute;
	width: 347px;
	background: rgb(255, 255, 255);
}

.content__text {
	font-family: "poppins";
	font-weight: 600;
	font-size: 25px;
	color: #37393F;
}

.content__cart:nth-child(6) {
	margin: 0;
}

.content__cart:nth-child(3) {
	margin-right: 0;
}

.content__cart:nth-child(4),
.content__cart:nth-child(5) {
	margin-bottom: 0;
}

:hover.content__cart::before {
	content: "";
	background: url(../img/Background.png) center / cover no-repeat;
	z-index: 5;
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.7s ease 0s;
}

.content__cart:hover .content__sub-cart {
	border-radius: 25px;
	transition: all 0.4s ease 0s;
	border: 1px solid rgba(8, 205, 159, 0.734);
}

.content__icon {
	position: absolute;
	top: 45%;
	left: 30%;
	z-index: 10;
}

.content__icon :hover img {
	border-radius: 25px;
	outline: 3px solid rgb(255, 230, 0);
	transition: all 0.4s ease 0s;
}

.content__icon a:not(:last-child) {
	margin-right: 5px;
}