@font-face {
	font-family: "Causten-Regular";
	src: url("../fonts/Causten-Regular.woff2") format("woff2"),
		url("../fonts/Causten-Regular.woff format") format("woff");
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}