@import url("../fonts/font.css");
@import url("reset.css");

.header {
	max-width: 692px;
	margin: 0 auto;
}

.contener {
	margin: 0 auto;
	max-width: 692px;
}

h2 {
	font-family: "Poppins";
	font-size: 30px;
	font-weight: 600;
	color: #37393F;
	line-height: 1.3;

}

.contener h3 {
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 600;
	color: #6B77E5;
	line-height: 1.31;
	margin-bottom: 13px;

}

.contener p {

	line-height: 1.4;
}

.block {
	font-size: 0;
	max-width: 692px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.block-left {
	display: inline-block;
	width: 331px;
	height: 265px;
	margin-right: 29px;
	background: url(../img/Photo_1.png) center / cover no-repeat;
}

.block-left:hover {
	border-radius: 5px;
	border: 1px solid rgb(90, 16, 16);
	opacity: 0.8;
	transition: all 0.5s;
}

.top {
	margin-bottom: 40px;
}

.block-right {
	font-size: 18px;
	vertical-align: top;
	display: inline-block;
	max-width: 332px;
}

.block-right h2 {
	margin-bottom: 15px;
	font-size: 25px;
	color: #37393F;
	line-height: 1.3;

}

.block-right h3 {
	margin-bottom: 21px;
	font-size: 20px;
	color: #40DDB6;
	line-height: 1.3;
}

.block-right ul li:not(:last-child) {
	margin-bottom: 30px;
}

.block-right li {
	min-height: 28px;
}

li::before {
	background: url(../img/Vector.png) center / cover no-repeat;
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	margin-right: 5px;
	font-size: 18px;
}

li:hover::before {
	content: "";
	background: url(../img/Vector.png) center /cover no-repeat;
	outline: 3px solid rgb(98, 49, 98);
	border-radius: 15px;
}

.bottom {
	margin-bottom: 42px;
}

/*--------------------------------------------------maket-2---------------------------------------------*/

.contener-1 {
	max-width: 673px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.block-1 {
	margin-bottom: 48px;
}

.block-1 h5::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #40DDB6;
	margin-right: 6px;
}

.block-1 h5 {
	margin-bottom: 12px;
}

p:not(:last-child) {
	margin-bottom: 16px;
}

.block-1 p:first-of-type {
	font-weight: 500;
}

.block-1 h2 {
	font-weight: 700;
	margin-bottom: 10px;
}

.block-top {
	margin-bottom: 31px;
	max-width: 673px;
	padding: 28px 39px;
}

.contener-1 h4 {
	font-weight: 600;
	margin-bottom: 12px;
	color: #37393F;
}

.block-top p,
.block-bottom p {
	margin-left: 45px;
}

.contener-1 h4::before {
	vertical-align: bottom;
	background: url(../img/Vector.png) center /cover no-repeat;
	content: "";
	display: inline-block;
	width: 27px;
	height: 27px;
	margin-right: 19px;
}

h4:hover::before {
	content: "";
	background: url(../img/Vector.png) center /cover no-repeat;
	outline: 3px solid rgb(98, 49, 98);
	border-radius: 15px;
}


.block-bottom {
	max-width: 673px;
	padding: 28px 40px;
	margin-bottom: 48px;
}

.link a {
	display: inline-block;
	padding: 22px 35px;
	background: #6B77E5;
	color: #fff;
	font-weight: 600;
}

.link a:hover {
	background: #3742a9;
	color: #ffd0d0;
}

/*-------------------------------------------------------maket-3---------------------------------------*/

.contener-2 {
	font-size: 0px;
	max-width: 1220px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.title h5 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 16px;
}

.title h5::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #40DDB6;
	margin-right: 6px;
}

.title {
	text-align: center;
	margin-bottom: 61px;
}

.title h2 {

	font-weight: 700;
}

.item {
	background: #F4F4F4;
	display: inline-block;
	max-width: 386px;
	padding: 58px 42px;
	font-size: 18px;
	text-align: center;
}

.item h3 {
	color: #37393F;
	margin-bottom: 16px;
	font-weight: 600;
	font-size: 25px;
}

.item p {
	margin-bottom: 37px;
}

.item:not(:last-child) {
	margin-right: 31px;
}

.item a {
	color: #6B77E5;
}

.item a:hover {
	color: #3c4de2;
	border-bottom: 1px solid blue;
}

.item::before {
	vertical-align: top;
	margin-top: -90px;
	margin-bottom: 22px;
	display: inline-block;
	content: "";
	background: url(../img/Icon_2.png) center / cover no-repeat;
	width: 72px;
	height: 72px;
	transition: all 0.3s ease 0s;
}

.item.center::before {
	background: url(../img/Icon_3.png)center / cover no-repeat;
	content: "";

}

.item.right-1::before {
	background: url(../img/Icon_4.png)center / cover no-repeat;
	content: "";

}

:hover.item::before {
	margin-top: -99px;
	opacity: 0.8;
}

/*-----------------------------------------------------maket-4-----------------------------------*/

.contener-3 {
	max-width: 1415px;
	margin: 0 auto;
}

.title-1 {
	margin-top: 100px;
	vertical-align: top;
	display: inline-block;
	max-width: 490px;
	font-size: 60px;
	font-weight: 700;
}

.title-1 h2 {
	font-family: "Cormorant Infant";
	font-size: 46px;
	font-weight: 700;
	color: #000000;
}


.title-1 h2:hover {
	transition: all 0.6s;

	font-size: 48px;
}

:hover.title-1::after {
	width: 70%;
	transition: all 0.6s;

}

.title-1::after {
	content: "";
	display: inline-block;
	height: 3px;
	width: 63%;
	background-color: #78473B;
}

.block-left-2 {
	vertical-align: top;
	margin-right: 55px;
	display: inline-block;
	width: 335px;
}

.cart {
	border: 1px solid black;
	margin-bottom: 35px;
	height: 381px;
}

.cart img {
	margin: 10px 0px 0px 10px;
}

.link-1,
.link-2 {
	padding-left: 5px;
	max-width: 250px;
}

.contener-3 a {
	font-family: "Cormorant Infant";
	font-weight: 700;
	font-size: 24px;
	color: #000000;
	line-height: 1.4;
}

.contener-3 a:hover {
	color: #37393F;
	font-weight: 600;
}

.block-right-2 {
	display: inline-block;
	width: 335px;
}

.cart-1 {
	border: 1px solid black;
	margin-bottom: 35px;
	height: 381px;
}

.cart-1 img {
	margin: 10px 0px 0px 10px;
}

.block-right-2 h3 {
	margin-bottom: 31px;
	font-family: "Cormorant Infant";
	color: #000000;
	font-size: 46px;
	font-weight: 700;
	line-height: 1.4;
}

.cart-1 img:hover,
.cart img:hover {
	transition: all 0.7s ease 0s;
	margin: -5px 0px 0px -5px;
}