

@import "_reset.scss";
@import "_fonts.scss";

.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   background-color: #fff;
}
.header__container {
   display: flex;
   gap: 20px;
   align-items: center;
   min-height: 100px;
   padding-top: 5px;
   padding-bottom: 5px;
}

.header__logo {
   color: #000;
   font-family: "Merriweather";
   font-size: 32px;
   font-style: italic;
   font-weight: 700;
   flex-shrink: 0;
   position: relative;
   z-index: 5;
}

.menu {
   flex: 1 1 auto;
}


.menu__list {
   display: flex;
   justify-content: center;
   column-gap: 36px;
   row-gap: 8px;
   flex-wrap: wrap;
}


.menu__link {
   font-family: "Merriweather";
   font-size: 24px;
   color: #000000;
   text-align: center;
   transition: 0.3s;
   max-width: 100%;
   max-height: 100%;
}

@media (any-hover: hover) {
   .menu__item:hover .menu__link {
      text-decoration-line: underline;
      background: #000;
      color: #d58417;
   }
}

.menu__item--active .menu__link {
   font-weight: 700;
   color: #d58417;
   text-decoration-line: underline;
}

.menu__item--parent {
   position: relative;
}

.menu__item--parent .menu__link {
   display: flex;
   align-items: center;
   gap: 4px;
}

.menu__item--parent .menu__link::after {
   content: "";
   background: url("../img/sub.png") 0 0 no-repeat;
   flex: 0 0 16px;
   height: 8px;
   width: 16px;
   transition: transform 0.4s;
}

@media (any-hover: hover) {
   .menu__item--parent:hover .sub-menu {
      opacity: 1;
      transform: translate(0px, 0px);
      visibility: visible;
      pointer-events: all;
   }

   .menu__item--parent:hover .menu__link::after {
      transform: rotate(-180deg);
   }
}

.sub-menu {
   transition: all 0.3s;
   position: absolute;
   top: 100%;
   left: 0;
   padding-top: 5px;
   transform: translate(0px, 10%);
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

.sub-menu__list {
   text-align: center;
   width: 100px;
   border-radius: 15px;
   padding: 15px;
   background-color: rgb(0, 238, 255);
   box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.2);
}

.sub-menu__item:not(:last-child) {
   margin-bottom: 10px;
}

.sub-menu__link {
   color: #000;
   font-size: 20px;
}

@media (any-hover: hover) {
   .sub-menu__link:hover {
      text-decoration: underline;
   }
}

.header__actions {
   flex-shrink: 0;
}

.actions-header {
   display: flex;
   align-items: center;
   gap: 23px;
   position: relative;
   z-index: 5;
}

.actions-header__item {
   flex: 0 0 32px;
   position: relative;
   transition: transform 0.3s;
}

@media (any-hover: hover) {
   .actions-header__item:hover {
      transform: scale(1.1);
   }
}

.actions-header__item img {
   max-width: 100%;
}

.actions-header__item span {
   position: absolute;
   right: 0;
   top: 0;
   border-radius: 50%;
   background-color: #ff3333;
   width: 12px;
   height: 12px;
   color: #fff;
   font-size: 9px;
   text-align: center;
   line-height: 12px;
}

.icon-menu {
   display: none;
}


@media (max-width: 960px) {
   .header__container {
      min-height: 50px;
   }

   .menu__body {
      position: fixed;
      width: 100%;
      height: 100%;
      overflow: auto;
      top: 0;
      left: -100%;
      transition: left 0.3s;
      padding: 80px 15px 30px 15px;
      background-color: #f7ab78;
   }

   .menu__body::before {
      content: "";
      position: fixed;
      width: 100%;
      height: 50px;
      top: 0;
      left: -100%;
      z-index: 2;
      transition: left 0.3s;
      background-color: #f7ab78;
   }

   .menu-open .menu__body,
   .menu-open .menu__body::before {
      left: 0;
   }

   .menu__list {
      flex-direction: column;
      text-align: center;
      row-gap: 28px;
      max-width: 28px;
   }

   .menu__link {
      font-size: 28px;
   }

   .menu__item--parent .menu__link {
      flex-direction: column;
      text-align: right;
   }

   .menu__item--parent .menu__link::after {
      display: none;

   }

   .sub-menu {
      display: none;
   }

   .sub-menu__list {
      display: none;
   }

   .sub-menu__item:not(:last-child) {
      margin-bottom: 20px;
   }

   .sub-menu__link {
      color: #000;
      font-size: 24px;
   }

   .icon-menu {
      width: 30px;
      display: block;
      flex: 0 0 30px;
      height: 18px;
      position: relative;
      z-index: 5;
   }

   .icon-menu::before,
   .icon-menu::after,
   .icon-menu span {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      transition: all 0.3s;
      background-color: #000;
   }

   .icon-menu::before {
      top: 0;
   }

   .icon-menu::after {
      bottom: 0;
   }

   .icon-menu span {
      top: 50%;
      margin-top: -1px;
   }

   .menu-open .icon-menu span {
      transform: scale(0);
   }

   .menu-open .icon-menu::before {
      transform: rotate(-45deg);
      top: 50%;
      margin-top: -1px;
   }

   .menu-open .icon-menu::after {
      transform: rotate(45deg);
      bottom: 50%;
      margin-bottom: -1px;
   }
}

@media (max-width: 440px) {
   .header__container {
      gap: 5px;
   }

   .header__logo {
      font-size: 24px;
   }

   .actions-header {
      gap: 10px;
   }
}



//---------------------------------------------------------------------------------------------------------------------------------------------------



main{
   padding-top: 70px;
}

.lable {

   // .lable__block

   &__block {
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(220px, 1fr));
      max-width: 1200px;
      margin: 0 auto;
       gap: 50px;
      margin-bottom: 50px;
      padding: 0px 15px;     
   }





   // .lable__title-box

   &__title-box {
      font-size: 42px;
      font-weight: 800;
   }

   &__quad{
      background: blueviolet;
      width: 10px;
      height: 37px;
      border-radius: 10px;
      margin-right: 20px;
   }

	// .lable__card

   &__card {
      flex-direction: column;
      display: flex;
      border-radius: 10px;
     gap: 20px;
   }

   // .lable__kart

   &__itext{
      font-size: 18px;
      color: #7F7F7F;
   }


   // .lable__foto

   &__foto {
      height: 100%;
      width: 100%;  
   }

   // .lable__wrap

   &__wrap {
   }

   // .lable__info

   &__info {
   font-size: 26px;
   font-weight: 700;
   @media (max-width:524px) {
      font-size: 34px;
   }
  
   }

   &__titles{
      font-size: 36px;
      font-weight: 800;
      display: flex;
   }

   &__big{
   display: flex;
   max-width: 1200px;
   padding: 25px;
   margin: 0 auto;
   @media (max-width:1000px) {
      justify-content: center;
    }
   }
   
   &__card:hover{
   box-shadow: 3px 3px 3px 3px #0000003d;
   transition: 0.4s;
   color: blueviolet;
   }
}




.made {

   // .made__block

   &__block {
      justify-content: center;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      @media (max-width:991px) {
         flex-wrap: wrap;
        
      }
   }

   // .made__box

   &__box {
      background: url(../img/fotok.jpg) center / cover no-repeat;
     flex: 0 1 50%;
      color:white ;
      padding: 80px 50px 80px 80px ; 
      margin-bottom: 0px;
      @media (max-width:991px) {
       flex: 0 1 100%;
        text-align: center;
      }
   }

   // .made__imput

   &__imput {
      font-size: 28px;
      font-weight: 800;
      line-height: 1.5;
      margin-bottom: 20px;
   }

   // .made__text

   &__text {
      line-height: 1.2;
      margin-bottom: 50px;
   }

   // .made__button

   &__button {
      background: white;
      color: #000;
      width: 150px;
      height: 50px;
      border-radius: 10px;
      padding: 15px 15px 15px 35px;
      font-size: 18px;
   }

   // .made__images

   &__images {
   }

   &__button:hover{
      background-color: blueviolet;
      transition: 0.4s;
      color: wheat;
   }
   

   // .made__foto

   &__foto {
      display:flex;
      width: 100%;
      height: 100%;
      @media (max-width:996px) {
         width: 100%;
      }
   
   }
   

}

.top {

   // .top__block

   &__block {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
   }

   // .top__box

   &__box {
      background: #3C4242;
      width: 1200px;
      border-radius: 60px;
   }

   // .top__text

   &__text {
      color: antiquewhite;
      text-align: center;
      margin-bottom: 100px;
      margin-top: 30px;
   }

   // .top__lable

   &__lable {
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 30px;
   }

   // .top__labe-up

   &__labe-up {
      font-size: 20px;
      span{
         color: rgb(229, 255, 0);
      }
   }

   // .top__images

   &__images {
      text-align: center;
   }

   &__imagesi:hover{
      box-shadow: 6px 5px 6px 5px #6d11118a;
      transition: 0.5s;
   }

   &__imagesi{
      margin-right: 20px;
      margin-bottom: 20px;
   }
}

.feedback {

   // .feedback__block

   &__block {
      max-width: 1200px;
      margin: 0 auto;
      padding: 15px;
      display: flex;
      @media (max-width:1210px) {
         flex-wrap: wrap
      }

      @media (max-width:966px) {
         justify-content: center;
      }

   }

   // .feedback__box

   &__box {
      padding: 10px;
      border: 1px solid  black;
      border-radius: 10px;
      margin-right: 25px;
      margin-bottom: 15px;
   }

   // .feedback__images

   &__images {
      margin-bottom: 20px;
   }

   // .feedback__lible

   &__lible {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 20px;
   }

   // .feedback__text

   &__text {
      color: #807D7E;
   }

   &__images:hover{
      box-shadow: 3px 3px 3px 3px #918e8e86;
      transition: 0.4s;
   }
}

.information {

   // .information__block

   &__block {
      background: #3C4242;
      max-width: 1200px;
      display: flex;
      margin: 0 auto;
      padding: 15px;
      justify-content: center;
      @media (max-width:1064px) {
         flex-wrap: wrap;
      }
      @media (max-width:1064px) {
         flex-wrap: wrap;
      }
   }

   // .information__lible

   &__lible {
      display: flex;
      margin-right: 100px;
      flex-direction: column;
   }

   &__help :hover{
   color: blueviolet;
    transition: 0.3s;


   }

   // .information__help

   &__help {
      margin-bottom: 25px;
      margin-top: 15px;
      font-size: 20px;
      color: white;
   }

   &__helps{
      font-size: 32px;
      margin-bottom: 25px;
      margin-top: 15px;
      color: white;
   }
}

