*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class*=__container] {
  max-width: 1240px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  font-family: "inter", sans-serif;
  line-height: 1.2;
  height: 100%;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

::before,
::after {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

input,
button,
select,
option,
label {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header__sub-list {
  padding-top: 2.1875em;
  position: absolute;
  top: 0;
  left: -180%;
  display: none;
  z-index: 12;
}
.header__forms {
  background: rgba(116, 126, 127, 0.721);
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5625em;
  border-radius: 10px;
}

.forms__form input {
  padding: 0px 5px;
  height: 2.5em;
  border-radius: 6px;
}
.forms__button {
  text-align: center;
}
.forms__link-button {
  border-radius: 8px;
  padding: 8px 24px;
  border: 1px solid rgb(65, 61, 61);
  background: rgb(16, 168, 179);
}
.forms__link-button:hover {
  background: rgb(86, 186, 193);
}

.wrapper {
  background: rgb(2, 0, 36);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(2, 0, 36)), color-stop(0%, rgb(187, 251, 248)), to(rgba(9, 119, 121, 0.8745623249)));
  background: linear-gradient(0deg, rgb(2, 0, 36) 0%, rgb(187, 251, 248) 0%, rgba(9, 119, 121, 0.8745623249) 100%);
}

.header {
  min-height: 100px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.1875rem solid rgb(50, 53, 53);
  border-radius: 40%;
  gap: 10px;
}
.header .logo__link {
  font-size: 1.875rem;
  font-weight: 800;
  color: rgb(252, 223, 5);
  letter-spacing: 1px;
}
.header__info {
  color: rgb(252, 223, 5);
}
@media (min-width: 81.25em) {
  .header__info {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (font-size: clamp( 0.875rem , 0.7525510204rem  +  0.612244898vw , 1.25rem )) {
    .header__info {
      font-size: clamp( 0.875rem , 0.7525510204rem  +  0.612244898vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7525510204rem  +  0.612244898vw , 1.25rem )) {
    .header__info {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .header__info {
    font-size: 0.875rem;
  }
}
.header__form {
  position: relative;
}
.header__input {
  width: 170px;
  background: rgba(204, 239, 248, 0.9);
  height: 25px;
  border-radius: 50px;
  padding-left: 25px;
}
.header__btn {
  position: absolute;
  top: 3px;
  left: 0;
}
.header__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(237, 230, 189, 0.884);
  border-radius: 5px;
  overflow: hidden;
  width: 2.375rem;
  height: 2.125rem;
}
.header__img-icon {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px;
}
.header__img-icon:hover {
  -webkit-transform: scale(1.65);
      -ms-transform: scale(1.65);
          transform: scale(1.65);
}
.header__registration {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: rgb(252, 223, 5);
}
@media (min-width: 81.25em) {
  .header__registration {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (font-size: clamp( 0.875rem , 0.7525510204rem  +  0.612244898vw , 1.25rem )) {
    .header__registration {
      font-size: clamp( 0.875rem , 0.7525510204rem  +  0.612244898vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7525510204rem  +  0.612244898vw , 1.25rem )) {
    .header__registration {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .header__registration {
    font-size: 0.875rem;
  }
}
.header__list {
  position: absolute;
}
.header__list:hover .header__sub-list {
  display: block;
}
.header .menu {
  padding: 1.25rem 0;
}
.header .menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header .menu__item:hover .menu__sub-list {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  visibility: visible;
  opacity: 1;
}
.header .menu__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
@media (min-width: 81.25em) {
  .header .menu__link {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (font-size: clamp( 1.125rem , 1.0841836735rem  +  0.2040816327vw , 1.25rem )) {
    .header .menu__link {
      font-size: clamp( 1.125rem , 1.0841836735rem  +  0.2040816327vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0841836735rem  +  0.2040816327vw , 1.25rem )) {
    .header .menu__link {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .header .menu__link {
    font-size: 1.125rem;
  }
}
.header .menu__link::after {
  content: "";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  min-width: 1.125rem;
  min-height: 0.625rem;
  background: url(../icon/arrow.png) center/cover no-repeat;
}
.header .menu__link:hover::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header .menu__link:hover {
  color: rgb(252, 223, 5);
}
.header .menu__sub-list {
  z-index: 5;
  border: 1px solid black;
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: rgb(103, 99, 99);
}
.header .menu__sub-item {
  min-width: 200px;
}
.header .menu__sub-item:hover .menu__box-card {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  visibility: visible;
  opacity: 1;
}
.header .menu__sub-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.header .menu__sub-link:hover {
  background: rgba(46, 46, 44, 0.733);
}
.header .menu__box-card {
  padding: 1.25em 3.125em;
  display: grid;
  gap: 2.1875em;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  position: absolute;
  top: 0;
  left: 100%;
  visibility: hidden;
  opacity: 0;
  background: rgb(76, 75, 71);
  border: 1px solid black;
}
@media (min-width: 81.25em) {
  .header .menu__box-card {
     max-width: 68.75rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports ( max-width: clamp( 20rem , 4.0816326531rem  +  79.5918367347vw , 68.75rem )) {
    .header .menu__box-card {
       max-width: clamp( 20rem , 4.0816326531rem  +  79.5918367347vw , 68.75rem );
    }
  }
  @supports not ( max-width: clamp( 20rem , 4.0816326531rem  +  79.5918367347vw , 68.75rem )) {
    .header .menu__box-card {
       max-width: calc(20rem + 48.75 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .header .menu__box-card {
     max-width: 20rem;
  }
}
.header .menu .card__link {
  border: 1px solid rgb(71, 65, 65);
  border-radius: 4px;
}
.header .menu .card__wrap-image {
  overflow: hidden;
  max-width: 18.125rem;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 1px solid black;
}
.header .menu .card__image {
  -webkit-transform: scale(1.005);
      -ms-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 6px 6px 0px 0px;
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .menu .card__image:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header .menu .card__bottom {
  padding: 0.625rem 0.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .menu .card__text {
  color: rgb(245, 240, 240);
  font-size: 1.125rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.header .menu .card__text:hover {
  color: rgb(252, 223, 5);
}
.header .menu .price {
  color: rgb(252, 223, 5);
  font-weight: 600;
  letter-spacing: 1px;
}

.page__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 100/55;
}
.page__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__container {
  -webkit-perspective: 500px;
          perspective: 500px;
}
@media (min-width: 81.25em) {
  .main__container {
     margin-bottom: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports ( margin-bottom: clamp( 2.1875rem , 1.4732142857rem  +  3.5714285714vw , 4.375rem )) {
    .main__container {
       margin-bottom: clamp( 2.1875rem , 1.4732142857rem  +  3.5714285714vw , 4.375rem );
    }
  }
  @supports not ( margin-bottom: clamp( 2.1875rem , 1.4732142857rem  +  3.5714285714vw , 4.375rem )) {
    .main__container {
       margin-bottom: calc(2.1875rem + 2.1875 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .main__container {
     margin-bottom: 2.1875rem;
  }
}
.main__box {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
}
@media (min-width: 81.25em) {
  .main__box:not(:last-child) {
     margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports ( margin-bottom: clamp( 0.9375rem , 0.8354591837rem  +  0.5102040816vw , 1.25rem )) {
    .main__box:not(:last-child) {
       margin-bottom: clamp( 0.9375rem , 0.8354591837rem  +  0.5102040816vw , 1.25rem );
    }
  }
  @supports not ( margin-bottom: clamp( 0.9375rem , 0.8354591837rem  +  0.5102040816vw , 1.25rem )) {
    .main__box:not(:last-child) {
       margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .main__box:not(:last-child) {
     margin-bottom: 0.9375rem;
  }
}

.main__box--mod {
  -webkit-transform: rotate3d(20, 0, 0, 180deg);
          transform: rotate3d(20, 0, 0, 180deg);
}

.box__element {
  position: relative;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 1/3;
  max-width: 100%;
  -webkit-clip-path: polygon(96.587% 0.02%, 44.761% 0.02%, 44.761% 0.02%, 44.21% 0.085%, 43.687% 0.271%, 43.199% 0.57%, 42.754% 0.97%, 42.358% 1.461%, 42.018% 2.034%, 41.742% 2.678%, 41.536% 3.383%, 41.407% 4.14%, 41.362% 4.937%, 41.362% 45.494%, 41.362% 45.494%, 41.318% 46.291%, 41.189% 47.047%, 40.983% 47.752%, 40.706% 48.396%, 40.366% 48.969%, 39.97% 49.461%, 39.525% 49.861%, 39.037% 50.159%, 38.515% 50.345%, 37.964% 50.41%, 3.413% 50.41%, 3.413% 50.41%, 2.861% 50.474%, 2.338% 50.66%, 1.851% 50.958%, 1.406% 51.358%, 1.01% 51.85%, 0.67% 52.422%, 0.394% 53.067%, 0.187% 53.772%, 0.059% 54.528%, 0.014% 55.326%, 0.014% 95.063%, 0.014% 95.063%, 0.059% 95.86%, 0.188% 96.617%, 0.394% 97.322%, 0.67% 97.966%, 1.01% 98.539%, 1.406% 99.03%, 1.851% 99.43%, 2.339% 99.729%, 2.862% 99.915%, 3.413% 99.98%, 96.587% 99.98%, 96.587% 99.98%, 97.138% 99.915%, 97.661% 99.729%, 98.149% 99.43%, 98.594% 99.03%, 98.99% 98.539%, 99.33% 97.966%, 99.606% 97.322%, 99.812% 96.617%, 99.941% 95.86%, 99.986% 95.063%, 99.986% 4.937%, 99.986% 4.937%, 99.941% 4.139%, 99.813% 3.383%, 99.606% 2.677%, 99.33% 2.033%, 98.99% 1.46%, 98.594% 0.969%, 98.149% 0.569%, 97.662% 0.271%, 97.139% 0.085%, 96.587% 0.02%);
          clip-path: polygon(96.587% 0.02%, 44.761% 0.02%, 44.761% 0.02%, 44.21% 0.085%, 43.687% 0.271%, 43.199% 0.57%, 42.754% 0.97%, 42.358% 1.461%, 42.018% 2.034%, 41.742% 2.678%, 41.536% 3.383%, 41.407% 4.14%, 41.362% 4.937%, 41.362% 45.494%, 41.362% 45.494%, 41.318% 46.291%, 41.189% 47.047%, 40.983% 47.752%, 40.706% 48.396%, 40.366% 48.969%, 39.97% 49.461%, 39.525% 49.861%, 39.037% 50.159%, 38.515% 50.345%, 37.964% 50.41%, 3.413% 50.41%, 3.413% 50.41%, 2.861% 50.474%, 2.338% 50.66%, 1.851% 50.958%, 1.406% 51.358%, 1.01% 51.85%, 0.67% 52.422%, 0.394% 53.067%, 0.187% 53.772%, 0.059% 54.528%, 0.014% 55.326%, 0.014% 95.063%, 0.014% 95.063%, 0.059% 95.86%, 0.188% 96.617%, 0.394% 97.322%, 0.67% 97.966%, 1.01% 98.539%, 1.406% 99.03%, 1.851% 99.43%, 2.339% 99.729%, 2.862% 99.915%, 3.413% 99.98%, 96.587% 99.98%, 96.587% 99.98%, 97.138% 99.915%, 97.661% 99.729%, 98.149% 99.43%, 98.594% 99.03%, 98.99% 98.539%, 99.33% 97.966%, 99.606% 97.322%, 99.812% 96.617%, 99.941% 95.86%, 99.986% 95.063%, 99.986% 4.937%, 99.986% 4.937%, 99.941% 4.139%, 99.813% 3.383%, 99.606% 2.677%, 99.33% 2.033%, 98.99% 1.46%, 98.594% 0.969%, 98.149% 0.569%, 97.662% 0.271%, 97.139% 0.085%, 96.587% 0.02%);
  -webkit-transform: rotate(-270deg);
      -ms-transform: rotate(-270deg);
          transform: rotate(-270deg);
}
.box__element-to {
  position: relative;
  display: grid;
  grid-column: 5/7;
  width: 100%;
  -webkit-clip-path: polygon(96.587% 0.02%, 44.761% 0.02%, 44.761% 0.02%, 44.21% 0.085%, 43.687% 0.271%, 43.199% 0.57%, 42.754% 0.97%, 42.358% 1.461%, 42.018% 2.034%, 41.742% 2.678%, 41.536% 3.383%, 41.407% 4.14%, 41.362% 4.937%, 41.362% 45.494%, 41.362% 45.494%, 41.318% 46.291%, 41.189% 47.047%, 40.983% 47.752%, 40.706% 48.396%, 40.366% 48.969%, 39.97% 49.461%, 39.525% 49.861%, 39.037% 50.159%, 38.515% 50.345%, 37.964% 50.41%, 3.413% 50.41%, 3.413% 50.41%, 2.861% 50.474%, 2.338% 50.66%, 1.851% 50.958%, 1.406% 51.358%, 1.01% 51.85%, 0.67% 52.422%, 0.394% 53.067%, 0.187% 53.772%, 0.059% 54.528%, 0.014% 55.326%, 0.014% 95.063%, 0.014% 95.063%, 0.059% 95.86%, 0.188% 96.617%, 0.394% 97.322%, 0.67% 97.966%, 1.01% 98.539%, 1.406% 99.03%, 1.851% 99.43%, 2.339% 99.729%, 2.862% 99.915%, 3.413% 99.98%, 96.587% 99.98%, 96.587% 99.98%, 97.138% 99.915%, 97.661% 99.729%, 98.149% 99.43%, 98.594% 99.03%, 98.99% 98.539%, 99.33% 97.966%, 99.606% 97.322%, 99.812% 96.617%, 99.941% 95.86%, 99.986% 95.063%, 99.986% 4.937%, 99.986% 4.937%, 99.941% 4.139%, 99.813% 3.383%, 99.606% 2.677%, 99.33% 2.033%, 98.99% 1.46%, 98.594% 0.969%, 98.149% 0.569%, 97.662% 0.271%, 97.139% 0.085%, 96.587% 0.02%);
          clip-path: polygon(96.587% 0.02%, 44.761% 0.02%, 44.761% 0.02%, 44.21% 0.085%, 43.687% 0.271%, 43.199% 0.57%, 42.754% 0.97%, 42.358% 1.461%, 42.018% 2.034%, 41.742% 2.678%, 41.536% 3.383%, 41.407% 4.14%, 41.362% 4.937%, 41.362% 45.494%, 41.362% 45.494%, 41.318% 46.291%, 41.189% 47.047%, 40.983% 47.752%, 40.706% 48.396%, 40.366% 48.969%, 39.97% 49.461%, 39.525% 49.861%, 39.037% 50.159%, 38.515% 50.345%, 37.964% 50.41%, 3.413% 50.41%, 3.413% 50.41%, 2.861% 50.474%, 2.338% 50.66%, 1.851% 50.958%, 1.406% 51.358%, 1.01% 51.85%, 0.67% 52.422%, 0.394% 53.067%, 0.187% 53.772%, 0.059% 54.528%, 0.014% 55.326%, 0.014% 95.063%, 0.014% 95.063%, 0.059% 95.86%, 0.188% 96.617%, 0.394% 97.322%, 0.67% 97.966%, 1.01% 98.539%, 1.406% 99.03%, 1.851% 99.43%, 2.339% 99.729%, 2.862% 99.915%, 3.413% 99.98%, 96.587% 99.98%, 96.587% 99.98%, 97.138% 99.915%, 97.661% 99.729%, 98.149% 99.43%, 98.594% 99.03%, 98.99% 98.539%, 99.33% 97.966%, 99.606% 97.322%, 99.812% 96.617%, 99.941% 95.86%, 99.986% 95.063%, 99.986% 4.937%, 99.986% 4.937%, 99.941% 4.139%, 99.813% 3.383%, 99.606% 2.677%, 99.33% 2.033%, 98.99% 1.46%, 98.594% 0.969%, 98.149% 0.569%, 97.662% 0.271%, 97.139% 0.085%, 96.587% 0.02%);
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.box__element-mid {
  position: absolute;
  grid-column: 2/6;
  max-height: 100%;
  top: 0;
  right: 3px;
  -webkit-clip-path: polygon(0 0, 76% 0, 76% 66%, 100% 66%, 100% 100%, 26% 100%, 26% 31%, 0 31%);
          clip-path: polygon(0 0, 76% 0, 76% 66%, 100% 66%, 100% 100%, 26% 100%, 26% 31%, 0 31%);
  width: 100%;
  overflow: hidden;
  border-radius: 5%;
}
.box__image {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: scale(1.018);
      -ms-transform: scale(1.018);
          transform: scale(1.018);
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.box__image--rotate-1 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.box__image--rotate-1:hover {
  -webkit-transform: rotate(270deg) scale(1.15);
      -ms-transform: rotate(270deg) scale(1.15);
          transform: rotate(270deg) scale(1.15);
}

.box__image--rotate-2 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  max-height: 100%;
  border-radius: 5%;
  aspect-ratio: 100/48;
}
.box__image--rotate-2:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.box__image--3 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  aspect-ratio: 100/100;
}
.box__image--3:hover {
  -webkit-transform: rotate(90deg) scale(1.15);
      -ms-transform: rotate(90deg) scale(1.15);
          transform: rotate(90deg) scale(1.15);
}

.box__image--rotate-4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.box__image--rotate-4:hover {
  -webkit-transform: rotate(90deg) scale(1.15);
      -ms-transform: rotate(90deg) scale(1.15);
          transform: rotate(90deg) scale(1.15);
}

.box__image--rotate-5 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  max-height: 100%;
  border-radius: 5%;
  aspect-ratio: 100/48;
  -o-object-position: -5px -60px;
     object-position: -5px -60px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.box__image--rotate-5:hover {
  -webkit-transform: scale(1.15) rotate(180deg);
      -ms-transform: scale(1.15) rotate(180deg);
          transform: scale(1.15) rotate(180deg);
}

.box__image--rotate-6 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  aspect-ratio: 100/100;
}
.box__image--rotate-6:hover {
  -webkit-transform: rotate(270deg) scale(1.15);
      -ms-transform: rotate(270deg) scale(1.15);
          transform: rotate(270deg) scale(1.15);
}

.title {
  -webkit-transform: translate(-150px);
      -ms-transform: translate(-150px);
          transform: translate(-150px);
  font-weight: 600;
  color: rgb(68, 71, 49);
  border-bottom: 1px solid rgb(44, 40, 40);
}
@media (min-width: 81.25em) {
  .title {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (font-size: clamp( 1.375rem , 1.0076530612rem  +  1.8367346939vw , 2.5rem )) {
    .title {
      font-size: clamp( 1.375rem , 1.0076530612rem  +  1.8367346939vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.0076530612rem  +  1.8367346939vw , 2.5rem )) {
    .title {
      font-size: calc(1.375rem + 1.125 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.375rem;
  }
}
@media (min-width: 81.25em) {
  .title--margin:not(:last-child) {
     margin-bottom: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports ( margin-bottom: clamp( 2.1875rem , 1.4732142857rem  +  3.5714285714vw , 4.375rem )) {
    .title--margin:not(:last-child) {
       margin-bottom: clamp( 2.1875rem , 1.4732142857rem  +  3.5714285714vw , 4.375rem );
    }
  }
  @supports not ( margin-bottom: clamp( 2.1875rem , 1.4732142857rem  +  3.5714285714vw , 4.375rem )) {
    .title--margin:not(:last-child) {
       margin-bottom: calc(2.1875rem + 2.1875 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .title--margin:not(:last-child) {
     margin-bottom: 2.1875rem;
  }
}

.anime-show {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translate(0px);
      -ms-transform: translate(0px);
          transform: translate(0px);
}

@media (min-width: 81.25em) {
  .main__page {
     margin-bottom: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports ( margin-bottom: clamp( 2.1875rem , 1.4732142857rem  +  3.5714285714vw , 4.375rem )) {
    .main__page {
       margin-bottom: clamp( 2.1875rem , 1.4732142857rem  +  3.5714285714vw , 4.375rem );
    }
  }
  @supports not ( margin-bottom: clamp( 2.1875rem , 1.4732142857rem  +  3.5714285714vw , 4.375rem )) {
    .main__page {
       margin-bottom: calc(2.1875rem + 2.1875 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .main__page {
     margin-bottom: 2.1875rem;
  }
}
.main .new__slider {
  background: rgba(190, 14, 84, 0.048) !important;
  min-height: 100%;
  padding: 60px 0px;
  border-radius: 12px;
}
.main .new__slide {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 18px;
  width: 100%;
  height: 100%;
}
.main .new .swiper-slide-active {
  -webkit-transform: translate(0px) scale(1.15);
      -ms-transform: translate(0px) scale(1.15);
          transform: translate(0px) scale(1.15);
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
  border-radius: 18px !important;
}
.main .new__link-card {
  padding: 0px 7px 10px 7px;
  max-width: 354px;
  border-radius: 18px;
}
.main .new__link-card:hover {
  -webkit-box-shadow: 0.5px 2.6px 5.9px -1px rgba(40, 38, 38, 0.148), 1.4px 7.3px 16.4px -1px rgba(33, 32, 32, 0.207);
          box-shadow: 0.5px 2.6px 5.9px -1px rgba(40, 38, 38, 0.148), 1.4px 7.3px 16.4px -1px rgba(33, 32, 32, 0.207);
  background: rgba(225, 236, 5, 0.066) !important;
}
.main .new__card {
  aspect-ratio: 10/12;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 18px;
}
.main .new__image {
  border-radius: 18px;
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
}
.main .new__text {
  line-height: 1.25;
}
@media (min-width: 81.25em) {
  .main .new__text {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (font-size: clamp( 1rem , 0.8775510204rem  +  0.612244898vw , 1.375rem )) {
    .main .new__text {
      font-size: clamp( 1rem , 0.8775510204rem  +  0.612244898vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.8775510204rem  +  0.612244898vw , 1.375rem )) {
    .main .new__text {
      font-size: calc(1rem + 0.375 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .main .new__text {
    font-size: 1rem;
  }
}
@media (min-width: 81.25em) {
  .main .new__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (margin-bottom: clamp( 0.3125rem , 0.1084183673rem  +  1.0204081633vw , 0.9375rem )) {
    .main .new__text:not(:last-child) {
      margin-bottom: clamp( 0.3125rem , 0.1084183673rem  +  1.0204081633vw , 0.9375rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.3125rem , 0.1084183673rem  +  1.0204081633vw , 0.9375rem )) {
    .main .new__text:not(:last-child) {
      margin-bottom: calc(0.3125rem + 0.625 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .main .new__text:not(:last-child) {
    margin-bottom: 0.3125rem;
  }
}
.main .new__price {
  font-weight: 700;
  text-align: end;
  -webkit-text-decoration: underline rgb(0, 0, 0);
          text-decoration: underline rgb(0, 0, 0);
}
@media (min-width: 81.25em) {
  .main .new__price {
    font-size: 1.625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports (font-size: clamp( 1.375rem , 1.2933673469rem  +  0.4081632653vw , 1.625rem )) {
    .main .new__price {
      font-size: clamp( 1.375rem , 1.2933673469rem  +  0.4081632653vw , 1.625rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.2933673469rem  +  0.4081632653vw , 1.625rem )) {
    .main .new__price {
      font-size: calc(1.375rem + 0.25 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .main .new__price {
    font-size: 1.375rem;
  }
}
.main .new__price:not(:last-child) {
  margin-bottom: 10px;
}
.main .new__buttom {
  min-width: 180px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-radius: 0.375em;
  text-align: center;
  padding: 0.5em 1em;
  font-size: 1.5rem;
  font-weight: 600;
  background: rgb(252, 223, 5);
}
.main .new__buttom:hover {
  background-color: rgb(199, 196, 26);
}
@media (min-width: 81.25em) {
  .section--margin:not(last-child) {
     margin-bottom: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports ( margin-bottom: clamp( 2.1875rem , 1.0650510204rem  +  5.612244898vw , 5.625rem )) {
    .section--margin:not(last-child) {
       margin-bottom: clamp( 2.1875rem , 1.0650510204rem  +  5.612244898vw , 5.625rem );
    }
  }
  @supports not ( margin-bottom: clamp( 2.1875rem , 1.0650510204rem  +  5.612244898vw , 5.625rem )) {
    .section--margin:not(last-child) {
       margin-bottom: calc(2.1875rem + 3.4375 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .section--margin:not(last-child) {
     margin-bottom: 2.1875rem;
  }
}
.section__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  gap: 30px;
}

.item__cadr {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.item__link-card:not(:last-child) {
  margin-bottom: 1.25rem;
}
.item__wrap-image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.item__wrap-image:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.item__image {
  -webkit-transform: scale(1.005);
      -ms-transform: scale(1.005);
          transform: scale(1.005);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
  height: 100%;
  aspect-ratio: 290/210;
  -o-object-fit: cover;
     object-fit: cover;
}
.item__image:hover {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}
@media (min-width: 81.25em) {
  .item__link-title {
     margin-bottom: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports ( margin-bottom: clamp( 0.3125rem , 0.2104591837rem  +  0.5102040816vw , 0.625rem )) {
    .item__link-title {
       margin-bottom: clamp( 0.3125rem , 0.2104591837rem  +  0.5102040816vw , 0.625rem );
    }
  }
  @supports not ( margin-bottom: clamp( 0.3125rem , 0.2104591837rem  +  0.5102040816vw , 0.625rem )) {
    .item__link-title {
       margin-bottom: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .item__link-title {
     margin-bottom: 0.3125rem;
  }
}
.item__title {
  padding: 0px 15px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
}
.item__title:hover {
  color: rgb(222, 44, 44);
  text-decoration: underline;
}
.item__block-info {
  overflow-y: scroll;
  max-height: 190px;
}
.item__text {
  font-size: 1.125rem;
  line-height: 1.35;
}

.third-class-show {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

@media (min-width: 81.25em) {
  .section--polecane {
     margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports ( margin-bottom: clamp( 1.875rem , 1.4668367347rem  +  2.0408163265vw , 3.125rem )) {
    .section--polecane {
       margin-bottom: clamp( 1.875rem , 1.4668367347rem  +  2.0408163265vw , 3.125rem );
    }
  }
  @supports not ( margin-bottom: clamp( 1.875rem , 1.4668367347rem  +  2.0408163265vw , 3.125rem )) {
    .section--polecane {
       margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .section--polecane {
     margin-bottom: 1.875rem;
  }
}
.section__box-polecane {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.1875rem, 1fr));
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  row-gap: 3.125rem;
}

.card-new__item {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  padding-bottom: 7px;
  border-bottom: 2px solid rgb(72, 70, 70);
}
.card-new .fourth-class-show {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.card-new__link:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.card-new__image {
  border: 1px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 12/10;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-new__image:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  border: 1px solid rgb(99, 95, 95);
}
.card-new__title {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  padding-top: 0.625em;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.25;
}
.card-new__title:hover {
  color: rgb(222, 44, 44);
  text-decoration: underline;
}
.card-new__reyting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  gap: 5px;
}
.card-new__reyting:not(:last-child) {
  margin-bottom: 15px;
}
.card-new__price {
  font-size: 1.375rem;
  font-weight: 600;
}
.card-new__active-button {
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  background: rgb(252, 223, 5);
}
.card-new__active-button:hover {
  background: rgb(183, 178, 27);
}
.card-new label {
  font-weight: 600;
  font-size: 1.125rem;
}
.card-new__input {
  max-width: 50px;
  min-height: 30px;
  text-align: center;
  font-weight: 600;
}
.card-new__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__text-anime {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(7, 7, 7, 0.338);
  border-radius: 30px;
  z-index: 5;
  position: relative;
  top: 23%;
}
@media (min-width: 81.25em) {
  .page__text-anime {
     max-width: 50rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports ( max-width: clamp( 13.75rem , 1.9132653061rem  +  59.1836734694vw , 50rem )) {
    .page__text-anime {
       max-width: clamp( 13.75rem , 1.9132653061rem  +  59.1836734694vw , 50rem );
    }
  }
  @supports not ( max-width: clamp( 13.75rem , 1.9132653061rem  +  59.1836734694vw , 50rem )) {
    .page__text-anime {
       max-width: calc(13.75rem + 36.25 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .page__text-anime {
     max-width: 13.75rem;
  }
}
@media (min-width: 81.25em) {
  .page__text-anime {
     max-height: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 81.25em) {
  @supports ( max-height: clamp( 2.5rem , 0.8673469388rem  +  8.1632653061vw , 7.5rem )) {
    .page__text-anime {
       max-height: clamp( 2.5rem , 0.8673469388rem  +  8.1632653061vw , 7.5rem );
    }
  }
  @supports not ( max-height: clamp( 2.5rem , 0.8673469388rem  +  8.1632653061vw , 7.5rem )) {
    .page__text-anime {
       max-height: calc(2.5rem + 5 * (100vw - 20rem) / 61.25);
    }
  }
}
@media (max-width: 20em) {
  .page__text-anime {
     max-height: 2.5rem;
  }
}

svg {
  padding: 5px 10px;
}

/***************************************************
 * Generated by SVG Artista on 2/6/2024, 12:22:30 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/
@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 2975.1225585938px;
    stroke-dasharray: 2975.1225585938px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2975.1225585938px;
  }
}
@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 2975.1225585938px;
    stroke-dasharray: 2975.1225585938px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2975.1225585938px;
  }
}
@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(176, 193, 46);
  }
}
@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgba(157, 119, 87, 0.728);
  }
}
.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 4s ease-in-out 0s both, animate-svg-fill-1 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s both;
  animation: animate-svg-stroke-1 4s ease-in-out 0s both, animate-svg-fill-1 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0.8s both;
}

.footer {
  padding: 80px 0px;
  background: #585c5c;
}
.footer__section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
@media (max-width: 508px) {
  .footer__section {
    padding: 0;
  }
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
@media (max-width: 1200px) {
  .footer__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 508px) {
  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
}
.footer__title {
  font-size: calc(18px + 8 * (100vw - 320px) / 920);
  font-weight: 700;
  line-height: 1.3;
}
.footer__title:not(:last-child) {
  margin-bottom: 15px;
}
.footer__link-info {
  color: rgba(220, 222, 150, 0.82);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  font-size: calc(14px + 4 * (100vw - 320px) / 920);
  padding: 5px;
  line-height: 1.5;
}
.footer__link-info:hover {
  color: red;
}

.footer__midl-section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 125px 0px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__midl-section:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 724px) {
  .footer__midl-section {
    padding: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__icons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer__link-img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.005);
      -ms-transform: scale(1.005);
          transform: scale(1.005);
}
.footer__link-img:hover {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}
.footer__dowload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dowload__title {
  font-size: calc(18px + 6 * (100vw - 320px) / 920);
  font-weight: 700;
  line-height: 1.5;
}
.dowload__item {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}
.dowload__google-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.dowload__google-link:nth-child(2) {
  gap: 20px;
}
.footer__popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px;
  border-bottom: 0.5px solid rgb(156, 148, 148);
  border-top: 0.5px solid rgb(162, 157, 157);
}
.footer__arrow {
  position: relative;
}
.footer__arrow button:focus-within {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.footer__aroww-img {
  position: absolute;
  top: 5px;
  right: -5px;
  cursor: pointer;
}

.footer__end {
  text-align: center;
  padding-top: 40px;
}

summary {
  position: absolute;
  top: 0px;
  right: -10px;
  z-index: 1;
  cursor: pointer;
  padding: 3px;
  opacity: 0;
}

details {
  text-align: center;
  padding-right: 50px;
}

#cart-icon {

	position: relative;
	font-size:24px;
	cursor: pointer;
}
#cart-icon[data-quantitiy]::after{
	contain: "";
}
#cart-icon[data-quantitiy]::after{
	content: "";
	position: absolute;
	top: 	0;
	right: -12px;
	width: 20px;
	height: 20px;
	border-radius:50%;
	color: white;
	font-size: 12px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cart {

	position: fixed;
  top: 0%;
	right: -100%;
	width: 270px;
	min-height: 100hv;
	padding: 20px;
	background: rgb(140, 155, 89);
	box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
	transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 100;
}

.cart-content:not(:last-child){
  margin-bottom: 20px;
}
.cart.active{
	overflow-y: scroll;
	right: 0;
	transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  max-height: 800px;
}

.cart-title{
	
	font-size: 1.5rem;
	font-weight: 600;
	
}
.total{
	display: flex;
	justify-content: flex-end;
  gap: 15px;
  margin-bottom: 15px;


	
}
.total-title {
	font-size: 20px;
	font-weight: 600;
	
}
.total-price{
	
  font-size: 20px;
  font-weight: 600;
}
.btn-buy{
	display: flex;
	justify-content: center;
padding: 12px 20px;
	width: 100%;
    text-align: center;
    border: none;
    border-radius: 8px;
    background: var(--text-color);
     font-size: 18px;
   font-weight: 600;
    cursor: pointer;
    background: rgb(190, 193, 16);
    border: 1px solid transparent;
}

.btn-buy:hover{
  background: rgb(144, 164, 29);
  color: rgb(255, 255, 255);
  border: 1px solid black;
}


#close-cart{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 16px;
  width: 30px;
  height: 30px;
  background: url(../icon/closse.svg) center / cover no-repeat ; 
	color: black;
	cursor: pointer;
  
}

.cart-quantity{
	border: 1px solid var(--text-color);
	outline-color:var(--main-color) ;
	width: 2.8rem;
	text-align: center;
	font-size: 1rem;
	border-radius: 4px;
}
.catr-remove {
	font-size: 24px;
	color: 	var(--main-color);
	cursor: pointer;
}

.add-cart{
  width: 150px;
  height: 50px;
	position: absolute;
	bottom: 0px;
	right:  10px;
	background: rgb(223, 216, 10) ;
	
	padding: 14px;
	font-size: 16px;
	border-radius: 10px;
	cursor: pointer;
  border: 1px solid transparent;
}
.add-cart:hover{
	
  border: 1px solid rgb(112, 101, 101);
}

.product-box{
  position: relative;
 
}


.price{
  font-size: 20px;
  font-weight: 600;
}

.product-img{
  
  display: none;

}
.cart-box{
  border: 2px solid rgb(118, 106, 106);
padding: 10px;
}

.cart-box:not(:last-child){
  margin-bottom: 10px;
}

.cart-img{
	width: 100px;
	height: 100px;
	object-fit: contain;
	object-position: center;
	padding: 10px;
}
.catr-remove {
	font-size: 24px;
	color: 	var(--main-color);
	cursor: pointer;
}

#bebe{
  position: relative;
  left: 150px;
 top: -100px;
 padding: 15px;
	font-size: 5px;
	color: red;
	cursor: pointer;
  background: url(../icon/cancel.svg) center / cover no-repeat;
}
#bebe:hover{
 
	
}

.header__icons{
  background: bisque;
  height: 30px;
  border-radius: 8px;
}