@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
body {
  text-align: center;
  background: #3a406e;
  color: #1a10da;
  font-weight: 700
}
.page {
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(../img/fon.webp) center/cover no-repeat
}
.page__container {
  width: 345px;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column
}
.page .wrap-table {
  padding: 5px;
  width: 100%;
  background: rgba(137,43,226,.568)
}
#dropBallButton {
  font-weight: 700;
  padding: 10px;
  transition: all .1s;
  font-size: 30px;
  border-radius: 5px;
  width: 90%;
  border: 2px solid #1e1d1d;
  color: wheat;
  margin-bottom: 5px
}
#dropBallButton:active {
  -webkit-transform: scale(.9);
  transform: scale(.9)
}
@-webkit-keyframes ja {
  0% {
    background-position: 0 100%
  }
  100% {
    background-position: 100% 0
  }
}
@keyframes ja {
  0% {
    background-position: 0 100%
  }
  100% {
    background-position: 100% 0
  }
}
@-webkit-keyframes back {
  0% {
    background-position: 200%
  }
  100% {
    background-position: 120%
  }
}
@keyframes back {
  0% {
    background-position: 200%
  }
  100% {
    background-position: 120%
  }
}
.text-win {
  line-height: 1.3;
  position: relative;
  top: 0;
  font-size: 28px;
  color: rgba(250,248,96,.893);
  background: rgba(137,43,226,.747);
  border-radius: 10px 10px 0 0;
  border: 2px solid #000
}
.pachinko-board {
  top: 0;
  left: 0;
  position: relative;
  width: 315px;
  height: 580px;
  border: 2px solid #000;
  background: url(../img/loto1.webp) center repeat;
  margin-bottom: 5px;
  overflow: hidden
}
.pachinko-board .peg {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  border: 1px solid #000;
  outline: 4.5px solid #4ce70a
}
.moving-block {
  position: absolute;
  width: 26px;
  height: 6px;
  background-color: rgba(222,212,15,.4235294118);
  top: 0;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  -webkit-animation: moveBlock 2.5s linear infinite alternate;
  animation: moveBlock 2.5s linear infinite alternate
}
@-webkit-keyframes moveBlock {
  from {
    left: 0
  }
  to {
    left: calc(100% - 35px)
  }
}
@keyframes moveBlock {
  from {
    left: 0
  }
  to {
    left: calc(100% - 35px)
  }
}
.ball {
  position: absolute;
  width: 22px;
  height: 22px;
  background: url(../img/point.webp);
  border-radius: 50%;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear,-webkit-transform 1s linear;
  visibility: hidden
}
.prize-display {
  border: 2px solid #fff200;
  padding: 10px 0;
  font-size: 18px;
  background: rgba(137,43,226,.993);
  color: #f5e906
}
.point-case {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px
}
.case {
  margin-right: 25px;
  width: 5px;
  border: 2px solid #948e8e
}
.point-case .case:nth-child(1) {
  margin-right: 25px;
  width: 0;
  opacity: 0
}
.point-case .case:nth-child(2) {
  margin-right: 42px
}
.point-case .case:nth-child(3) {
  margin-right: 46px
}
.point-case .case:nth-child(4) {
  margin-right: 45px
}
.point-case .case:nth-child(5) {
  margin-right: 45px
}
.point-case .case:nth-child(6) {
  margin-right: 45px
}
.point-case .case:nth-child(7) {
  width: 5px
}
.jackpot .peg {
  -webkit-animation: flash .2s infinite alternate;
  animation: flash .2s infinite alternate
}
.jackpot-text {
  font-weight: 700;
  -webkit-animation: jack 2s linear infinite;
  animation: jack 2s linear infinite;
  background: linear-gradient(90deg,red,#ff0,green,#0ff,#00f,violet);
  background-size: 400%;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-animation-timing-function: inherit;
  animation-timing-function: inherit;
  text-align: center
}
@-webkit-keyframes jack {
  0% {
    opacity: 0;
    border: none;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-filter: blur(3px);
    filter: blur(3px)
  }
  100% {
    background: linear-gradient(90deg,red,#ff0,green,#0ff,#00f,violet);
    opacity: 1;
    -webkit-transform: scale(2.3);
    transform: scale(2.3);
    border: none;
    background-size: 25%;
    -webkit-background-clip: text
  }
}
@keyframes jack {
  0% {
    opacity: 0;
    border: none;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-filter: blur(3px);
    filter: blur(3px)
  }
  100% {
    background: linear-gradient(90deg,red,#ff0,green,#0ff,#00f,violet);
    opacity: 1;
    -webkit-transform: scale(2.3);
    transform: scale(2.3);
    border: none;
    background-size: 25%;
    -webkit-background-clip: text
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}
@keyframes gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}
@-webkit-keyframes flash {
  0% {
    outline-color: #4ce70a
  }
  100% {
    outline-color: transparent
  }
}
@keyframes flash {
  0% {
    outline-color: #4ce70a
  }
  100% {
    outline-color: transparent
  }
}
.sequential-flash {
  -webkit-animation: sequentialFlash .3s linear infinite;
  animation: sequentialFlash .3s linear infinite
}
@-webkit-keyframes sequentialFlash {
  0%,
  100% {
    outline-color: transparent
  }
  50% {
    outline-color: #4ce70a
  }
  75% {
    outline-color: #e3ce12
  }
}
@keyframes sequentialFlash {
  0%,
  100% {
    outline-color: transparent
  }
  50% {
    outline-color: #4ce70a
  }
  75% {
    outline-color: #e3ce12
  }
}
.floating-number {
  position: absolute;
  font-size: 1.5em;
  font-weight: 700;
  -webkit-animation: floatUp 3s ease-out forwards;
  animation: floatUp 3s ease-out forwards;
  left: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #01fbff;
  font-size: 20px
}
@-webkit-keyframes floatUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px)
  }
}
@keyframes floatUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px)
  }
}
.button {
  height: 50px;
  background: linear-gradient(40deg,rgba(162,19,19,.813),rgba(165,165,20,.763),rgba(24,151,64,.699),rgba(12,130,214,.694),rgba(25,25,151,.753),rgba(143,63,143,.74));
  border-radius: 25px;
  -webkit-animation: animate 1s linear infinite;
  animation: animate 1s linear infinite;
  border: none;
  cursor: pointer;
  color: #fff153!important
}
#msg,
.button,
.display {
  transition: .3s
}
.button:active .display {
  background: rgba(255,255,255,.5)
}
@-webkit-keyframes animate {
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg)
  }
}
@keyframes animate {
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg)
  }
}